.btn-blue
 {
    color:#fff;
    border:none;
    letter-spacing:.5px;
    text-transform:uppercase;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    text-decoration:none;
    background-color: #5C6BC0;
    width: 90px;
    height: 30px;
    padding: 10px 0;
    font-size: .7em;
    text-align: center;
    cursor:pointer;
}    

.btn-red {
    color:#fff;
    border:none;
    letter-spacing:.5px;
    text-transform:uppercase;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    text-decoration:none;
    background-color: #EF5350;
    width: 90px;
    height: 30px;
    padding: 10px 0;
    float:right;
    font-size: .7em;
    text-align: center;
    cursor:pointer;
}
.btn-green {
    color:#fff;
    border:none;
    letter-spacing:.5px;
    text-transform:uppercase;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    text-decoration:none;
    background-color: #F44336;
    width: 40%;
    padding: 10px 0;
    font-size: 1em;
    text-align: center;
    cursor:pointer;
}
.btn-menu  {
    color:#fff;
    border:none;
    letter-spacing:.5px;
    text-transform:uppercase;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    text-decoration:none;
    background-color: #5C6BC0;
    width: 90px;
    height: 30px;
    padding: 10px 0;
    font-size: .7em;
    text-align: center;
    cursor:pointer;
    margin:5px;
}        
    
.text-normal {
    color:#000;
    border:none;
    letter-spacing:.5px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    text-decoration:none;
    width: 200px;
    height: 10px;
    padding: 10px 0;
    font-size: .7em;
    text-align: left;
    cursor: pointer;
}        
.tool-box {
    width: 100%;
    height: 40px;
    padding: 10px 0;
    font-size: 1em;
    text-align: center;
    margin:0 auto;
}

.notification {
    width: 40%;
    height: 40px;
    padding: 10;
    font-size: 20px;
    text-align: center;
}           

.board-box {
   margin:5px 
   border:none
   text-decoration:none
   box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}  

.setting-box{
    text-align:left;
    margin:auto;
}   

.connection-status {
    color:#fff;
    border:none;
    letter-spacing:.5px;
    text-transform:uppercase;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    text-decoration:none;    
    width:90px;
    height:30px;
    padding:10px 0;
    font-size:.7em;
    text-align:center;
    cursor:pointer;

}
.connection-online {
    background-color : #66BB6A;    
}
.connection-offline {
    background-color : #BDBDBD;    
}

.cell {
    margin:5px;
    border:none;
    text-decoration:none;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    cursor:pointer;
}

.menu-box {
  position: absolute;  
  top: -2px; 
  margin-left: -2px;
  padding: 25px;
  width: 300px;
  height: 92.5%;
  background-color: #00897B;
  color: white;
}